/* footer */
footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: black;
    .pagina{
        height: 100%;
        width: 100%;
        div{
            p{
                font-size: 11px;
                text-align: center;
                color: $secundario;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}