/* main index */
.mainIndex{
    grid-area: mainIndex;
    display: flex;
    justify-content: center;
    .textoIndex1{
        color: $secundario;
        font-size: 2em;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
    .textoIndex2{
        color: $secundario;
        font-family: 'Roboto', sans-serif;
    }
}
/* main productos */
.mainProductos{
    grid-area: mainProductos;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    #archivoProductos{
        #archivoImagen{
            height: 200px;
            border-radius: 20px;
        }
    }
    #textoProductos{
        width: 70%;
        font-family: 'Roboto', sans-serif;
        color: $primario;
    }
    #marcasProductos{
        margin-top: 130px;
        #imagenMarcas{
            width: 100%;
            border-radius: 10px;
        }
    }
}
/* main empresa */
.mainEmpresa{
    grid-area: mainEmpresa;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    #imagenEmpresa{
        height: 300px;
        border-radius: 10px;
        margin-right: 30px;
    }
    .containerEmpresa{
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        width: 700px;
        .tituloEmpresa{
        font-family: 'Roboto', sans-serif;
        margin-bottom: 7px;
        border-bottom: 1px solid $primario;
        }
        .parrafoEmpresa{
        font-family: 'Roboto', sans-serif;
        color: $primario;
        }
    }
}
/* main sucursales */
.mainSucursales{
    grid-area: mainSucursales;
    display: grid;
    grid-template-areas: "tituloSucursales tituloSucursales"
                         "subtituloDistribuidora subtituloDistribuidora"
                         "mapaDistribuidora textoDistribuidora"
                         "subtituloFerreteria subtituloFerreteria"
                         "textoFerreteria mapaFerreteria";
    width: 100%;
    height: 800px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    #tituloSucursales{
        grid-area: tituloSucursales;
        margin-left: 5px;
        color: $primario;
        font-family: 'Roboto', sans-serif;
    }
    .subtituloDistribuidora{
        grid-area: subtituloDistribuidora;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    #mapaDistribuidora{
        grid-area: mapaDistribuidora;
        justify-self: end;
    }
    #textoDistribuidora{
        grid-area: textoDistribuidora;
        color: $primario;
        text-align: center;
        padding-right: 60%;
        padding-left: 10px;
        align-self: center;
        font-family: 'Roboto', sans-serif;
    }
    .subtituloFerreteria{
        grid-area: subtituloFerreteria;
        color: $primario;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        border-top: 1px solid gray;
        padding-top: 20px;
        font-family: 'Roboto', sans-serif;
    }
    #mapaFerreteria{
        grid-area: mapaFerreteria;
        justify-self: start;
    }
    #textoFerreteria{
        grid-area: textoFerreteria;
        text-align: center;
        color: $primario;
        align-self: center;
        padding-left: 60%;
        padding-right: 10px;
        font-family: 'Roboto', sans-serif;
    }
}
/* main contacto */
#mainContacto{
    grid-area: mainContacto;
    display: grid;
    grid-template-areas: "tituloContacto tituloContacto"
                         "infoContacto formContacto";
    width: 100%;
    height: auto;

    .tituloContacto{
       grid-area: tituloContacto;
    }

    /* formulario de contacto */
      
    .containerFormulario{
      grid-area: formContacto;
      margin-top: 3%;
      margin-left: 10%;
      padding: 15px 15px;
      background-color: grey;
      width: 485px;
      height: 380px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      border-radius: 10px;

       #areaEmail{
          border: 1px solid black;
          border-radius: 5px;
          width: 455px;
          height: 34px;
          padding: 0px 3px;
        }
  
       #areaTelefono{
          border: 1px solid black;
          border-radius: 5px;
          width: 455px;
          height: 34px;
          padding: 0px 3px;
        }
  
       #areaMensaje{
          padding: 3px 3px;
        }
  
       #areaBoton{
          width: 86px;
          height: 34px;
          padding: 0px 3px;
        }
  
        span{
          padding: 5px 5px;
          font-family: 'Roboto', sans-serif;
          color: $primario;
        }
    }

    /* informacion de contacto */

    .containerContacto{
        grid-area: infoContacto;
        height: auto;
        width: 437px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-left: 30%;

        .tituloContacto{
            margin-top: 5px;
            margin-bottom: 10px;
            font-family: 'Roboto', sans-serif;
            color: $primario;
        }
          
          .parrafoContacto{
            margin-bottom: 5px;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            color: $primario;
        }
          
          .telefonoContacto{
            margin-top: 10px;
            margin-bottom: 5px;
            text-align: center;
            border-top: 1px solid grey;
            padding-top: 5px;
            font-family: 'Roboto', sans-serif;
            color: $primario;
        }
          
          .ventasContacto{
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
            border-top: 1px solid grey;
            padding-top: 5px;
            font-family: 'Roboto', sans-serif;
            color: $primario;
        }
          
          .domicilioContacto{
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
            border-top: 1px solid grey;
            padding-top: 5px;
            font-family: 'Roboto', sans-serif;
            color: $primario;
        }
    }
}
  
  .tituloContacto{
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .parrafoContacto{
    margin-bottom: 5px;
  }
  
  .telefonoContacto{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-top: 1px solid grey;
    padding-top: 5px;
  }
  
  .ventasContacto{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-top: 1px solid grey;
    padding-top: 5px;
  }
  
  .domicilioContacto{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-top: 1px solid grey;
    padding-top: 5px;
  }

  .mainContactoMobile{
    display: none;
  }
  
